%section#main

%script{src:'/javascript/vendor/jquery-1.7.2.min.js'}
%script{src:'/javascript/vendor/underscore-min.js'}
%script{src:'/javascript/vendor/backbone-min.js'}
%script{src:'/javascript/app/app.js'}
%script{src:'/javascript/app/simple_view.js'}
:javascript
  jQuery(function($) {
    new Application();
    Backbone.history.start();
  });
